body {
  font-family: "Montserrat", sans-serif;
  margin: 50px 0px 100px;
}

.card {
  display: block;
  margin: 0 auto;
  max-width: 700px;
}

#date {
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 5px;
  text-align: center;
}
#time,
#am-pm {
  display: inline-block;
}
.current-time {
  font-size: 16px;
  margin-top: 0;
  text-align: center;
}

h1 {
  font-size: 60px;
  margin: 20px;
  text-align: center;
}
h3 {
  font-size: 32px;
  margin-top: 40px;
  text-align: center;
  text-transform: lowercase;
}

.weather-icon {
  color: #f0b13c;
  font-size: 180px;
  margin: 0px;
  text-align: center;
}

.temperature {
  font-size: 80px;
}

.celsius {
  left: 50px;
  font-size: 28px;
  position: relative;
  text-decoration: none;
}
.coded-by {
  margin-top: 80px;
  text-align: center;
}

.code-link {
  text-decoration: none;
}
